body{
  background: $main-background-color;
}
.container{
  display: flex;
  flex-direction: column;
  height: 100vh;
  .intro{
    margin: auto;

    h1{
      color: $main-font-color;
      margin: 20px auto;
      font-family: $font-stack;
      font-size: 32px;
      text-align: center;
    }
  }
}
